--exclude PeripherySource
--indent tab
--tab-width 4
--maxwidth 120
--commas inline
--wraparguments before-first
--wrapparameters before-first
--stripunusedargs closure-only
--trimWhitespace always

--swiftversion 6.2

--enable blankLinesAroundMark
--enable blankLineAfterImports
--disable wrapMultilineStatementBraces
--disable enumNamespaces

--enable redundantNilInit

